.checkbox {
  display: flex;
  align-items: center;
  gap: 12px;
  cursor: pointer;

  &__icon {
    width: 20px;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    border: 2px solid $gray1;
    border-radius: 4px;

    &--error {
      border: 2px solid $color-error !important;
    }
  }

  & > p {
    font-size: 12px;
  }

  & > input {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border-width: 0;

    &:checked {
      & + .checkbox__icon {
        background-color: $gray1;
      }
    }
  }
}
