$gray1: #03050f;
$color-gray-10: #f8f9ff;
$color-gray-100: #000000;
$color-error: #ff1c44;
$color-red5: #ff1c44;
$color-neutral-2: #edeffc;
$color-neutral-4: #d7dbf5;
$color-neutral-5: #a9afd9;
$color-neutral-6: #7981b2;
$color-neutral-7: #141938;
$color-blueberry-600: #4f4fff;
$color-success: #389e0d;
$color-aqual-4: #7df0ba;
